.App-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.App {
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons .btn{
    margin: 5px;
}

.userImg{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.userName{
    margin: 0 10px 0 0;
}